<%= form_with(model: issue, url: project_issue_path, local: true) do |form| %>
    <% if issue.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

          <ul>
            <% issue.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, id: :issue_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description, id: :issue_description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :estimation %>
      <div class="input-group">
        <%= form.number_field :estimation, id: :issue_estimation, class: 'form-control', 'aria-describedby' => 'basic-addon2' %>
        <span class="input-group-addon" id="basic-addon2">hours</span>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :project_id %>
      <%= form.select(:project_id,
                      options_for_select(Project.order(:name).map {| e |[e[:name], e[:id]]  }, :selected => issue.project.id),
                      {},
                      class: 'form-control',
                      id: :issue_project_id) %>
    </div>

    <div class="form-group">
      <%= form.label :user_id %>
      <%= form.select(:user_id,
                      options_for_select(User.order(:name).map {| e |[e[:name], e[:id]]  }),
                      {},
                      class: 'form-control',
                      id: :issue_user_id) %>
    </div>

    <div class="form-group">
      <%= form.label :sprint_id %>
      <%= form.select(:sprint_id,
                      options_for_select(Sprint.where(project_id: issue.project.id).map {| e |[e[:name], e[:id]]  }),
                      {},
                      class: 'form-control',
                      id: :issue_sprint_id) %>
    </div>


    <div class="form-group">
      <%= form.label :state %>
      <%= form.select(:state,
                      issue_state_options,
                      { selected: resolve_issue_state_id(issue.state) },
                      {:id => 'issue_state', :class => 'form-control' })
      %>
    </div>

    <div class="form-group">
      <%= form.label :issue_type %>
      <%= form.select(:issue_type,
                      issue_type_options,
                      { selected: resolve_issue_type_id(issue.issue_type) },
                      class: 'form-control',
                      id: :issue_issue_type)
      %>
    </div>

    <div class="actions">
      <%= form.submit class: 'btn btn-primary' %>
      <%= link_to 'Back', project_issue_path(issue.project, issue), class: 'btn btn-default' %>
    </div>
<% end %>

<script>
    $(document).ready(function () {
        $("#issue_state").select2({theme: 'bootstrap'});
        $("#issue_issue_type").select2({theme: 'bootstrap'});
        $("#issue_user_id").select2({theme: 'bootstrap'});
        $("#issue_sprint_id").select2({theme: 'bootstrap'});
        $("#issue_project_id").select2({theme: 'bootstrap'});
    });
</script>

