<%= form_with(model: issue, local: true) do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :issue_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :issue_description %>
  </div>

  <div class="field">
    <%= form.label :estimation %>
    <%= form.number_field :estimation, id: :issue_estimation %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.number_field :type, id: :issue_type %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.number_field :state, id: :issue_state %>
  </div>

  <div class="field">
    <%= form.label :sprint_id %>
    <%= form.text_field :sprint_id, id: :issue_sprint_id %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.text_field :project_id, id: :issue_project_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :issue_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
