<% content_for :navigation do %>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user.role == :admin.to_s %>
          <li><%= link_to 'Project management', projects_path %></li>
          <li><%= link_to 'Team management', teams_path %></li>
          <li><%= link_to 'User management', users_path %></li>
      <% end  %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <%= current_user.name %>
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Update profile', edit_user_path(current_user) %></li>
          <li><%= link_to 'Log out', '/logout' %></li>
        </ul>
      </li>
    </ul>
<% end %>

<div class="col-md-12">
  <%= link_to 'New issue', new_project_issue_path(@project), class: 'btn btn-success pull-right' %>
  <h1 class="text-center"><%= @project.name %></h1>
  <br>
</div>
<div class="col-md-12">
  <div class="col-md-4">
    <div>
      <h3>Issues</h3>
      <div class="list-group">
        <% get_issues(@project, @sprint).each do |issue| %>
            <%= link_to project_issue_path(@project, issue, sprint: @sprint), class: 'list-group-item'.concat(@issue.id == issue.id ? ' active' : '') do %>
                <h4 class="list-group-item-heading">
                  <%= issue.name %></h4>
                <p class="list-group-item-text">
                  <%= issue.description %></p>
            <% end %>
        <% end %>
      </div>
    </div>
    <div>
      <h3>Sprints</h3><%= link_to 'clear', project_path(@project) %>
      <div class="list-group">
        <% @project.sprints.each do |sprint| %>
            <%= link_to sprint.name, project_path(@project, sprint: sprint), class: 'list-group-item'.concat(@sprint.to_i == sprint.id ? ' active' : '') %>
        <% end %>
      </div>

    </div>
  </div>
  <div class="col-md-8">
    <div class="well">
      <%= link_to 'Edit', edit_project_issue_path(@project, @issue), class: 'btn btn-primary pull-right' %>
      <h2><%= @issue.issue_type.to_s.upcase + ': ' + @issue.name %></h2>
      <hr>

      <p class="lead">Description:</p>
      <p><%= @issue.description %></p>

      <p class="h4 pull-right">Status: <%= @issue.state.to_s.upcase %></p>

      <p class="h4">Estimation:</p>
      <p><%= @issue.estimation %> hours</p>

    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#comments">Comments</a></li>
          <li><a data-toggle="tab" href="#work_log">Work log</a></li>
          <li><a data-toggle="tab" href="#changes">Changes</a></li>
        </ul>

        <div class="tab-content">
          <div id="comments" class="tab-pane fade in active">
            <br>
            <% @issue.issue_comments.each do |c| %>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><%= c.user.name %> (<%= c.created_at %>)</h3>
                  </div>
                  <div class="panel-body">
                    <p><%= c.comment  %></p>
                  </div>
                </div>
            <% end %>
            <%= render 'issue_comments/form', issue_comment: IssueComment.new(issue: @issue, user_id: current_user.id) %>
          </div>
          <div id="work_log" class="tab-pane fade">
            <br>
            <% @issue.work_entries.each do |we| %>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><%= we.user.name %> (<%= we.created_at %>)</h3>
                  </div>
                  <div class="panel-body">
                    <p>Spent <%= we.hours %> hours</p>
                  </div>
                </div>
            <% end %>
            <%= render 'work_entries/form', work_entry: WorkEntry.new(issue: @issue, user_id: current_user.id) %>
          </div>
          <div id="changes" class="tab-pane fade">
            <br>
            <% @issue.audits.each do |audit| %>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Action: <%= audit.action.capitalize %> (<%= audit.created_at %>)</h3>
                  </div>
                  <div class="panel-body">
                    <p><strong>Changes:</strong></p>
                    <% audit.audited_changes.each do |param, value| %>
                        <p><%= param %> => <%= value || 'undefined' %></p>
                    <% end %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>