<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @issue.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <strong>Estimation:</strong>
  <%= @issue.estimation %>
</p>

<p>
  <strong>Type:</strong>
  <%= @issue.type %>
</p>

<p>
  <strong>State:</strong>
  <%= @issue.state %>
</p>

<p>
  <strong>Sprint:</strong>
  <%= @issue.sprint %>
</p>

<p>
  <strong>Project:</strong>
  <%= @issue.project %>
</p>

<p>
  <strong>User:</strong>
  <%= @issue.user %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
