<%= form_with(model: project, local: true) do |form| %>
    <% if project.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

          <ul>
            <% project.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, id: :project_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description, id: :project_description, class: 'form-control' %>
    </div>


    <div class="form-group">
      <%= form.label :status %>
      <%= form.select(:status,
                      project_status_options,
                      { selected: resolve_project_status_id(project.status) },
                      class: 'form-control',
                      id: :project_status)
      %>
    </div>

    <div class="actions">
      <%= form.submit class: 'btn btn-primary' %>
      <%= link_to 'Back', projects_path, class: 'btn btn-default' %>
    </div>
<% end %>

<script>
    $(document).ready(function() { $("#project_status").select2({ theme: 'bootstrap' }); });
</script>
