<!DOCTYPE html>
<html>
<head>
  <title>Railmine</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Railmine', root_path, class: 'navbar-brand' %>
    </div>
    <%= yield :navigation %>
  </div>
</div>

<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <%= yield %>
</div>
</body>
</html>
